GestionDeStock/Connected Services/ServiceWCF/WcfGestionStock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClsUtilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsUtilisateur" nillable="true" type="tns:ClsUtilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsUtilisateur" nillable="true" type="tns:ArrayOfClsUtilisateur" />
  <xs:complexType name="ClsUtilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Statut" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotDePasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Societe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsUtilisateur" nillable="true" type="tns:ClsUtilisateur" />
  <xs:complexType name="ArrayOfClsStockProduit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsStockProduit" nillable="true" type="tns:ClsStockProduit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsStockProduit" nillable="true" type="tns:ArrayOfClsStockProduit" />
  <xs:complexType name="ClsStockProduit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Categorie" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Fournisseur" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_Categorie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prix_Vente" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantite_Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Somme" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsStockProduit" nillable="true" type="tns:ClsStockProduit" />
  <xs:complexType name="ArrayOfClsPanier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsPanier" nillable="true" type="tns:ClsPanier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsPanier" nillable="true" type="tns:ArrayOfClsPanier" />
  <xs:complexType name="ClsPanier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Client" type="xs:int" />
      <xs:element minOccurs="0" name="Id_produit" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prix_Vente" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantite" type="xs:int" />
      <xs:element minOccurs="0" name="Somme" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPanier" nillable="true" type="tns:ClsPanier" />
  <xs:complexType name="ArrayOfClsCmdClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsCmdClient" nillable="true" type="tns:ClsCmdClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsCmdClient" nillable="true" type="tns:ArrayOfClsCmdClient" />
  <xs:complexType name="ClsCmdClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_cmd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_livraison" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_produit" type="xs:int" />
      <xs:element minOccurs="0" name="Id_utilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prix_quantite" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prix_unitaire" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantite" type="xs:int" />
      <xs:element minOccurs="0" name="Somme" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsCmdClient" nillable="true" type="tns:ClsCmdClient" />
  <xs:complexType name="ArrayOfClsFournisseur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsFournisseur" nillable="true" type="tns:ClsFournisseur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsFournisseur" nillable="true" type="tns:ArrayOfClsFournisseur" />
  <xs:complexType name="ClsFournisseur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Societe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsFournisseur" nillable="true" type="tns:ClsFournisseur" />
  <xs:complexType name="ArrayOfClsCmdFournisseur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClsCmdFournisseur" nillable="true" type="tns:ClsCmdFournisseur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClsCmdFournisseur" nillable="true" type="tns:ArrayOfClsCmdFournisseur" />
  <xs:complexType name="ClsCmdFournisseur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_cmd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_reception" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_fournisseur" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prix_unitaire" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantite" type="xs:decimal" />
      <xs:element minOccurs="0" name="Societe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Somme" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsCmdFournisseur" nillable="true" type="tns:ClsCmdFournisseur" />
</xs:schema>