GestionDeStock/Connected Services/ServiceWCF/WcfGestionStock1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-d5tcr83/SynchroWCF/WcfGestionStock.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" />
  <xs:element name="Loguer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUtilisateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MotDePasse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoguerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoguerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireTableUtilisateurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireTableUtilisateurSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireTableUtilisateurSqlResult" nillable="true" type="q1:ArrayOfClsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifUtilisateurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifUtilisateurSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireStockProduitSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireStockProduitSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireStockProduitSqlResult" nillable="true" type="q2:ArrayOfClsStockProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeProduitSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeProduitSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="SommeProduitSqlResult" nillable="true" type="q3:ArrayOfClsStockProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCategorieSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCategorieSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireCategorieSqlResult" nillable="true" type="q4:ArrayOfClsStockProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifProduitSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifProduitSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireTablePanierSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireTablePanierSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireTablePanierSqlResult" nillable="true" type="q5:ArrayOfClsPanier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommePanierSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommePanierSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="SommePanierSqlResult" nillable="true" type="q6:ArrayOfClsPanier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifPanierSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifPanierSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCmdClientSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCmdClientSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireCmdClientSqlResult" nillable="true" type="q7:ArrayOfClsCmdClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeCmdClientSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeCmdClientSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="SommeCmdClientSqlResult" nillable="true" type="q8:ArrayOfClsCmdClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifCmdClientSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifCmdClientSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireFournisseurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireFournisseurSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireFournisseurSqlResult" nillable="true" type="q9:ArrayOfClsFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifFournisseurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifFournisseurSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCmdFournisseurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireCmdFournisseurSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="LireCmdFournisseurSqlResult" nillable="true" type="q10:ArrayOfClsCmdFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifCmdFournisseurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutSupModifCmdFournisseurSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeCmdFournisseurSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequeteSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SommeCmdFournisseurSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfGestionStock.ClassGestionStock" minOccurs="0" name="SommeCmdFournisseurSqlResult" nillable="true" type="q11:ArrayOfClsCmdFournisseur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>